@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

body {
  background-color: rgb(38, 38, 38);
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  width: 100%;
  padding: 15rem;
}

html {
  overflow-x: hidden;
}

#playPause,
#playPause2,
#playPause3,
#playPause4,
#playPause5,
#playPause6,
#playPause7,
#playPause8,
#playPause9,
#playPause10,
#playPause11,
#playPause12,
#playPause13,
#playPause14,
#playPause15,
#playPause16,
#playPause17 {
  width: 2rem;
  height: 2rem;
  display: block;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 0rem #ffffff;
  transition: transform 0.3s ease;
}

#playPause:hover,
#playPause2:hover,
#playPause3:hover,
#playPause4:hover,
#playPause5:hover,
#playPause6:hover,
#playPause7:hover,
#playPause8:hover,
#playPause9:hover,
#playPause10:hover,
#playPause11:hover,
#playPause12:hover,
#playPause13:hover,
#playPause14:hover,
#playPause15:hover,
#playPause16:hover,
#playPause17:hover {
  transform: scale(1.1);
  filter: brightness(1.5);
}

.for-tracks {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin: 0 auto;
}

.container-spectrum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wave {
  width: 70%;
}

.track1 {
  color: #ffffff;
  bottom: 25px;
  left: 50px;
  position: relative;
  font-size: 14px;
  font-family: 'Tilda';
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body,
  html {
    overflow-x: hidden;
    width: 100%;
    padding: 2rem;
  }

  .container-spectrum {
    max-width: 100%;
    box-sizing: border-box;
  }


  #audio-spectrum,
  #second-audio-spectrum,
  #third-audio-spectrum,
  #four-audio-spectrum,
  #fifth-audio-spectrum,
  #sixth-audio-spectrum,
  #seventh-audio-spectrum,
  #eighth-audio-spectrum,
  #ninth-audio-spectrum,
  #tenth-audio-spectrum, 
  #eleventh-audio-spectrum,
  #twlth-audio-spectrum,
  #thrteenth-audio-spectrum,
  #fourth-audio-spectrum,
  #fifteenth-audio-spectrum,
  #sixteenth-audio-spectrum,
  #svnteenth-audio-spectrum{
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
  }


  .control svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .control h5 {
    font-size: 10px;
    left: 40px;
    bottom: 35px;
  }
}

@font-face {
  font-family: 'Tilda';
  src: url('./TildaSans.07TTF/TildaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
